[Unit]
Description=gitmsyncd worker - %i
Wants=network-online.target postgresql.service
After=network-online.target postgresql.service

[Service]
Type=simple
User=gitmsyncd
Group=gitmsyncd
EnvironmentFile=/etc/gitmsyncd/%i.env
ExecStart=/usr/bin/perl /opt/gitmsyncd/bin/gitmsyncd-worker.pl --set=%i
WorkingDirectory=/opt/gitmsyncd
Restart=on-failure
RestartSec=10
KillMode=mixed
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
