SYNC_DIRECTION=github_to_gitlab

GITLAB_TOKEN=glpat_xxx
GITLAB_URL=http://gitlab1.decllc.biz
GITLAB_GROUP=github-mirror

REPO_SOURCE_MODE=list
REPO_LIST_FILE=/etc/github-gitlab-mirror/github-repos.list

GITHUB_CLONE_PROTOCOL=ssh
GITLAB_PUSH_PROTOCOL=https
GITHUB_SSH_KEY=/home/githubgitlabsync/.ssh/id_github_mdiwan_diwanconsulting_ed25519
WORKDIR=/var/lib/githubgitlabsync/mirror-work
DRY_RUN=false
