SYNC_DIRECTION=gitlab_to_github

GITLAB_TOKEN=glpat_xxx
GITLAB_URL=http://gitlab1.decllc.biz
GITLAB_GROUP=github-mirror

GITHUB_OWNER=mvdiwan
GITHUB_PUSH_PROTOCOL=ssh
GITHUB_SSH_KEY=/home/gitlabgithubsync/.ssh/id_github_mdiwan_diwanconsulting_ed25519
# optional if you want auto-create repos in GitHub API
# GITHUB_TOKEN=ghp_xxx

REPO_SOURCE_MODE=api
# optional if using list mode
# REPO_LIST_FILE=/etc/github-gitlab-mirror/github-repos.list

# optional explicit map overrides
# REPO_MAP_FILE=/etc/github-gitlab-mirror/repo-map

GITLAB_CLONE_PROTOCOL=https
WORKDIR=/var/lib/gitlabgithubsync/mirror-work
DRY_RUN=false
